.bubble {
  width: 10px;
  background-color: #faebd7;
  border: 1px solid #c7b7a3;
  border-radius: 4px;
}

.sortedField {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 0;
}